<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>
		{% block pagetitle %}Paper Manager{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<style>
		body {
			padding-top: 5rem;
		}
	</style>
	
	<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
	{% block head %}{% endblock %}
</head>
<body>
	{% include "baseportal/navbar.html" %}
	<div class="container">
		
		{% block content %}
		{% endblock %}
	</div>
	
	<script src="{% static 'popper/popper.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	{% block bodyend %}{% endblock %}
</body>
</html>