{% extends "baseportal/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1>You are editing Paper</h1>
<a href="https://www.pdfzorro.com/api.php?path_to_pdf={{HOST}}{% url 'paperreviewer:exposedpdfdownload' fileslug=exposedpdf.slug %}&save_url={{HOST}}{% url 'paperreviewer:exposedpdfrecieve' fileslug=exposedpdf.slug %}&titel_save=PaperReviewer&data=dummy" >
	Go to PDFZorro
</a>
<a href="{% url 'paperreviewer:exposedpdfdownload' fileslug=exposedpdf.slug %}">
	Exposed PDF
</a>
{% endblock %}

{% block head %}
	<script>
	</script>
{% endblock %}

