{% extends "baseportal/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1>You are editing Paper</h1>
<form enctype="multipart/form-data" action="https://www.pdfzorro.com/api.php?path_to_pdf=POST&save_url={% url 'paperreviewer:exposedpdfrecieve' fileslug=exposedpdf.slug %}&titel_save=PaperReviewer&data=dummy" method="POST">

Choose file:
<input name="pdfzorro_upload" type="file" />
<input type="submit" value="Send File" />
</form> 
{% endblock %}

{% block head %}
	<script>
	</script>
{% endblock %}

{% block endbody %}
	var url="{% url 'paperreviewer:reviewpaperdownload' paperslug=paper.slug versionslug=paperVersion.slug fileslug=fileobject.slug %}"
	var pdfZorrourl="https://www.pdfzorro.com/api.php?path_to_pdf=POST&save_url={% url 'paperreviewer:exposedpdfrecieve' fileslug=exposedpdf.slug %}&titel_save=PaperReviewer&data=dummy"
	$.get(url, function(pdfdata, status){
				
    });
    		
{% endblock %}