{% extends "baseportal/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<p>Review {{ paper }}<p>
<p>{{paperVersion}}</p>
<p>Status:{{paperVersion.reviewstatus}}</p>
{% if paperVersion.reviewstatus.status == "P" %}
<a href="{% url 'paperreviewer:reviewpaperaccept' paperslug=paper.slug versionslug=paperVersion.slug %}">Accept</a>
<a href="{% url 'paperreviewer:reviewpaperreject' paperslug=paper.slug versionslug=paperVersion.slug %}">Reject</a>
{% endif %}
<ul>
	{% for el in paperFiles %}
		<li>
			<a href="{% url 'paperreviewer:reviewpaperdownload' paperslug=paper.slug versionslug=paperVersion.slug fileslug=el.slug %}">
				{{el}}
			</a>
			<a href="{% url 'paperreviewer:reviewpaperedit' paperslug=paper.slug versionslug=paperVersion.slug fileslug=el.slug %}">
				Edit
			</a>
		</li>
	{% endfor %}
</ul>
{% endblock %}