{% extends "baseportal/base.html" %}



{% block content %}
<h1>{{ paper.name }}</h1>
<p>{{ paper.description }}</p>
<p>
	Reviewer:
	{% if paper.reviewer == None %}
		Not Assigned
	{% else %}
		{{ paper.reviewer }}
	{% endif %}
</p>
<p>
	<a href="{% url 'papermanager:addpaperversion' paperslug=paper.slug %}" class="btn btn-primary">
		Add Version
	</a>
</p>

<ul>
	{% for el in paperversions %}
	<li>
		<a href="{% url 'papermanager:showpaperversion' paperslug=paper.slug versionslug=el.slug %}">
			{{el.name}}
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}