{% extends "baseportal/base.html" %}

{% block content %}
<h1>Paper {{paper.name}}</h1>
{{version.name}}
<a href="{% url 'papermanager:submitpaper' paperslug=paper.slug versionslug=version.slug %}">
	Submit for review
</a>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{uploadform}}
	<input type="submit">
</form>
<ul>
	{% for el in paperfiles %}
		<li>
			<a href="{% url 'papermanager:downloadfile' paperslug=paper.slug versionslug=version.slug filename=el.filename %}">
				{{ el.filename }}
			</a>
		</li>
	{% endfor %}
</ul>
{% endblock %}